<HTML>
<BODY>
		<p style="text-align: center; margin-left:80px; margin-top:550px; font-size:30px; border-bottom: 8px solid black; width:650px;">Cari Kontrakan Telkom University</p>
		
		<p style="font-size:17px; margin-left:240px; margin-top:30px;" ><b>Laporan Data Pelanggan Cari Kontrakan</b></p>
		<p style="font-size:17px; margin-left:320px; margin-top:30px;" ><b>Telkom University</b></p>
		
		<table style="margin-left:150px; margin-top:40px;" width="320">
			<tr>
				<td>No Konfirmasi</td>
				<td>:</td>
				<td><?php echo $id_konfirmasi;?></td>
			</tr> <br>
			<tr>
				<td>No Pelanggan</td>
				<td>:</td>
				<td><?php echo $id_pelanggan;?></td>
			</tr>
			<tr>
				<td>Id Rumah</td>
				<td>:</td>
				<td><?php echo $id_rumah;?></td>
			</tr>
			<tr>
				<td>Nama Pelanggan</td>
				<td>:</td>
				<td><?php echo $namapel;?></td>
			</tr>
			<tr>
				<td>Nama Rumah</td>
				<td>:</td>
				<td><?php echo $namerum;?></td>
			</tr>
			<tr>
				<td>Nama Pemilik</td>
				<td>:</td>
				<td><?php echo $namapem;?></td>
			</tr>
			<tr>
				<td>Tanggal Pembayaran</td>
				<td>:</td>
				<td><?php echo $tanggal;?></td>
			</tr>
			<tr>
				<td>Harga Pembayaran</td>
				<td>:</td>
				<td><?php echo $price;?></td>
			</tr>
			
		</table>
		
	
		<p style="margin-top:50px; margin-left:480px;">
		Disetujui Oleh, <br>
		Admin Cari Kontrakan Tel-U &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
		<br> <br> <br> <br> <br> <br>
		<u></u>
		</p>
		
		<p style="margin-top:50px; margin-left:480px;">
		<br>
		Pada Tanggal <?php echo date('d-m-Y' );?>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  <br> <br> <br> <br> <br> <br>
		<u></u>
		</p>
		
				
</BODY>
</HTML>